* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

section {
    background-image: linear-gradient(#48487a, #8383be);

}

.design-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.design {
    width: 350px;
    height: 300px;
    background: white;
    border-radius: 30px;
    transition: 0.3s ease;
    background: url(./photo_2023-12-28_02-30-06.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.design:hover {
    height: 380px;
    .design-text {
        display: block;
        margin-top: 20px;
    }

}

.design-down {
    border-top-left-radius: 30px;
    background-color: white;
    margin-top: 170px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.design-hour{
    padding-bottom: 20px;
}


.design-title {
    margin-bottom: 5px;
    color: #48487a;
    padding-top: 20px;
}


.design-text {
    display: none;
    padding-bottom: 70px;
}

.design .design-title,
.design-text,
.design-hour {
    padding-left: 20px;
}